body {
	font-size: 1rem;
	font-weight: 400;
	font-family: "Segoe UI", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	background-color: white;
    background-image: url('/static/pimp.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 20%;
	background-size: contain;
}
.dp-container {
	display: flex;
	flex-flow: column nowrap;
	width: 420px;
	margin: 2rem auto 0 auto;
	background-color: #ddd;
	border-radius: 0.5rem;
    opacity: 0.85;
}
.dp-container h1 {
	margin: 0 0 0.5rem 0;
	padding: 1rem 0;
	text-align: center;
	font-weight: normal;
	width: 100%;
	background-color: black;
	color: white;
	border-radius: 0.5rem 0.5rem 0 0;
}
.dp-container h2 {
	font-size: 1.2rem;
	text-align: center;
	margin: 0.25rem 0;
	color: grey;
}
.dp-container p {
	text-align: center;
	color: grey;
	margin: 0.5rem 0;
}
.dp-container p.large {
	font-size: 1.2rem;
}
.dp-container hr {
	height: 0;
	width: 85%;
	margin: 0.5rem auto;
	border: 0;
	border-top: 1px solid grey;
}
.dp-container hr.small {
	width: 50%;
}
.dp-container input[type="file"] {
	margin: 0.5rem auto;
}
.dp-container textarea,
.dp-container select {
	border-radius: 0.5rem;
	border: 1px solid white;
	padding: 0.5rem;
	margin: 0.5rem;
}

.dp-container label {
	margin-left: 0.5rem;
}
.dp-container code {
	padding: 0.25rem 0.5rem;
	background-color: #193d7a;
	border-left: 4px solid #4caf50;
	color: white;
}
.dp-container code:last-of-type {
	border-radius: 0 0 0.5rem 0.5rem;
}
.dp-container button {
	padding: 0.5rem;
	margin: 0.5rem;
	border: 1px solid white;
	border-radius: 0.5rem;
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}
.dp-container button:hover,
.dp-container .file-wrapper:hover,
.dp-container select:focus,
.dp-container textarea:focus {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}
.dp-container #paste-url {
	display: none;
	flex-direction: column;
}
.dp-container #paste-url ul {
	list-style: none;
	padding-left: 20px;
}
.dp-container #paste-url a {
	color: grey;
}
.dp-container #paste-url button {
    background-color: #f44336;
}
.dp-container .file-wrapper {
	height: 2rem;
	margin: 0.5rem;
	background-color: #68b0de;
	background-image: url('/static/bg_selectfile.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80px 16px;
	overflow: hidden;
	border-radius: 0.5rem;
	border: 1px solid white;
}
.dp-container .file-wrapper input[type="file"] {
	position: relative;
	margin: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	z-index: 2;
	cursor: pointer;
}
.dp-container .file-wrapper p {
	position: relative;
	margin: 0;
	top: 0;
	z-index: 1;
}
.dp-container #theme-btn {
	font-size: 0.75rem;
	text-decoration: none;
	text-align: center;
	color: grey;
	cursor: pointer;
}
body.theme-dark {
	background-color: #111;

}
div.theme-dark {
	background-color: black;
}
div.theme-dark h1 {
	background-color: grey;
	color: black;
}
div.theme-dark h3,
div.theme-dark p,
div.theme-dark a,
div.theme-dark input,
div.theme-dark select,
div.theme-dark textarea,
div.theme-dark code,
div.theme-dark #theme-btn {
	color: green;
}
div.theme-dark code {
	background-color: #07123f;
}
div.theme-dark select,
div.theme-dark textarea {
	background-color: black;
}
div.theme-dark button,
div.theme-dark select,
div.theme-dark textarea {
	border: 1px solid green;
}
div.theme-dark button {
	color: black;
}
div.theme-dark .file-wrapper {
	border-color: green;
	background-image: url('/static/bg_selectfile_dark.svg');
	background-color: #0066a7;
}
div.theme-dark button:hover,
div.theme-dark .file-wrapper:hover,
div.theme-dark select:focus,
div.theme-dark textarea:focus {
	box-shadow: 0 4px 8px 0 rgba(0,255,0,0.2), 0 3px 10px 0 rgba(0,255,0,0.19);
}
@media (max-width: 420px) {
	.dp-container {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
	.dp-container h1 {
		border-radius: 0;
	}
	.dp-container code:last-of-type {
		border-radius: 0;
	}
}
