
.bgimg {
    background-image: url('/static/pimp.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.pastebox {
    background-color: rgb(0,175,0);
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.code-box{
    width:auto;
    background-color:#193d7a;
    padding:8px 12px;
    border-left:4px solid #4CAF50;
    word-wrap:break-word;
    opacity:0.9
}

.ul-form {
    background-color: rgba(255,0,0,0.75);
}

.ul-text {
    background-color: rgba(75,75,75,0.75);
}
