<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>World's Dankest Pastebin</title>
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" href="/static/favicon.png">
</head>
<body>
<div class="dp-container">
	<h1>dank-paste</h1>
	<div id="paste-url">
	<ul id="paste-url-list"></ul>
	<button id="url-clear-btn" type="button">Clear URLs</button>
	</div>
	<h2>Upload by File</h2>
	<div id='file-upload-div'>
		<input id="upload-file" type="file">
		<button id="upload-btn" type="button">Upload</button>
	</div>
	<hr />
	<h2>Upload by Paste</h2>
	<textarea id="paste-box" placeholder="Paste some text here"></textarea>
	<button id="paste-btn" type="button">Paste Text</button>
	<label for="expire">Expire In:</label>
	<select id="expire">
		<option value="0">one-shot</option>
		<option value="60">1 minute</option>
		<option value="1800">30 minutes</option>
		<option value="3600">1 hour</option>
		<option value="86400" selected>1 day</option>
		<option value="172800">2 days</option>
		<option value="259200">3 days</option>
	</select>
	<hr />
	<h2>Dank UrlShortener</h2>
	<div id='url-container'>
		<input id="url-entry" type="url" placeholder="dankest url shorty">
		<button id="submit-url">Shortify</button>
	</div>
	<hr class="small"/>
	<p>64MB limit, don't be a jew</p>
	<p class="large">dank-paste also works using curl</p>
	<div id='footer'>
		<label style='text-align:center'>{{version}}</label>
		<button id="theme-btn">Change Theme</button>
	</div>
</div>
<script type="text/javascript" src="/static/dank.js"></script>
</body>
</html>
